* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#main {
    max-width: 800px;
    margin: 0 auto;
} 

p img {
    float: right;
    width: 50%;
    height: auto;
}
p {
    font-family: sans-serif;
}
li {
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}

.right {
    float: right;
    margin: 0 0 1em 1em;
}