* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#headerimg {
    width: 100%;
    height: auto;
    position: relative;
}

#image {
    width: 100%;
    z-index:-1;
    left:0;
    top:0;
}

#hdr {
    position:absolute;
    z-index:3;
    color:white;
    font-size:32px;
    font-weight:bold;
    left:75px;
    top:75px;
}

.main {
    max-width: 640px;
    margin: 0 auto;
} 

.tb {
    border: 1px solid black;
    font-family: sans-serif;
}

#fullscreen {
    width: 100%;
    height: auto;
}
.c1 {
    text-align: center;
    
}

.im-mn {
    width:100%;
    height:auto;
    margin: 0 0 0 0;
}

.im-fl {
    float: right;
    width: 50%;
    height: auto;
    margin: 0 0 2em 2em;
}
li, p {
    font-family: sans-serif;
    line-height: 24pt;
    padding-bottom: 24pt;
}

h2, h3 {
    font-family: sans-serif;
}

.right {
    float: right;
    margin: 0 0 1em 1em;
}

.navt  {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
    
}
.navt td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    
}
.navt th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    
}
.navt .navt-cell{
    text-align:center
}